<div align="center">
  <h1>Patterson Insurance</h1>
  <h5>Helping you prepare for the unexpected since 1958</h5>
  </br>
  <div class="home">
    <table border= "1", width=800px, height= 200px >
      <td align= "center">Picture Here</td>
    </table>
    <h2>What we are about</h2>
    <p>Patterson Insurance understands that everyone has accidents and experiences the unexpected. That is why we believe that planning for the unexpected is a smart way to be prepared for those life events. We assist you in making smart desicions about the things that matter most; allowing you to spend more time doing things that you love to do. We are a family based business who provides insurance in all areas of life and represent multiple insurance companies.</p>
    <p></p>
  </div>
</div>
