<% provide(:title, 'Insurance') %>

<div class="center">

  <h3>What benefits do you provide?</h3>
     <p>By choosing Patterson Insurance you will have the advantage of working 1 on 1 with an agent anytime during our business hours. We are an independent insurance agency who will do the research for you. This way you can receive the best offer and coverage you can get.</p>

  <h3>What types of Insurance do you have?</h3>make these all into boxes with pretty pictures + add links to quotes + what is the great 8 family plan? is it individual or a unique package deal:
    <p>We provide a number of types of insurance. These include:
      <ul>
        <li>Auto Protection</li>
        <li>Boat Protection</li>
        <li>Business Protection</li>
        <li>Condo Protection</li>
        <li>Homeowner Protection</li>
        <li>Life Protection</li>
        <li>Renters Protection</li>
      </ul>
    </p>

  <p>We can talk later I just want a quote!</p>

  <h3>List of Insurance companies</h3>
  <p>This is the list of insurance companies we have.</p>
  <p>Erie Insurance Group</p>
  <p>AIC</p>
  <p>Foremost</p>
  <p>Mass Mutual</p>
  <p>IWIF</p>
  <p>Fidelity Flood</p>
  <p>Principal Financial Group</p>

</div>
