<% provide(:title, 'Insurance') %>

<div class="center">

  <h1>List of Insurance companies</h1>
  <p>This is the list of insurance companies we have.</p>
  <p>Erie Insurance Group</p>
  <p>AIC</p>
  <p>Foremost</p>
  <p>Mass Mutual</p>
  <p>IWIF</p>
  <p>Fidelity Flood</p>
  <p>Principal Financial Group</p>

</div>
