<footer class="footer navbar navbar-static-bottom">
  <div class= "navbar-inner1">
  <div class= "container">
  <small>
    by Daniel Weller
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  </div>
  </div>
</footer>
