<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class= "menu">
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Patterson Insurance", root_path, id: "logo" %></br>
      <div class= "slogan">
      <h5>Helping you plan for the unexpected since 1958</h5>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      <nav>
        <ul  class="nav pull-right">
          <li><%= link_to "Patterson Insurance", root_path %></li>
          <li><%= link_to "Insurance",    insurance_path %></li>
          <li><%= link_to "Contact",    contact_path %></li>
        </ul>
      </nav>
      </div>
      <!-- End of nav responsiveness -->
      </div>

    </div>
  </div>
</header>
